.classification{
    
    font-weight: bold;
    color: blue;
    font-family: sans-serif;
    padding: 25px 15px 25px 15px;
}

body{
    margin: auto;
    text-align: center;
}
.table{
    padding: 25px;
    margin: auto;
}
#total{
    border: 1px solid blue;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 1.5em;
}
#rate{
    border: 1px solid blue;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 1.5em;
}
label{
    float: left;
    font-size: 1.5em;
    font-family: sans-serif;
}
h1{
    font-family: sans-serif;
}
