header{
    text-decoration: underline, bold;
    font-style: sans-serif;
    font-size: x-large;
    background-color: blue;
    color: white;
}
.class{
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;

}

body{
    text-align: center;
}

#total{
    padding: 10px 25px;
    font-size: 1.5em;
}

#button{
    font-size: large;
    background-color: blue;
    color: white;
}


#rate{
    padding: 10px 25px;
    font-size: 1.5em;
}

label{
    text-align: center;
    font-size: .75;
    font-family: sans-serif;
    padding-left: 50;
    
}
form{
    padding-left: 5;
    padding-top: 5;
    padding-right: 5;
    padding-bottom: 5;
}
