.classification{
    font-weight: bold;
    font-family: sans-serif;
    padding: 25px 15px 25px 15px;
}

body{
    text-align: center;
}

#total{
    padding: 10px 25px;
    font-size: 1.5em;
}

#button{
    font-size: large;
    
}
#rate{
    padding: 10px 25px;
    font-size: 1.5em;
}

label{
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    padding-left: 50;
    
}
h1{
    font-family: sans-serif;
}
